body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2016/09/28/11/55/cube-1700323_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
  }
  
  .main-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: black;
    padding-bottom: 20px;
  }

  h2 {
    color: black;
  }
  
  .input-container, .dice-container, .joke-container {
    margin: 20px 0;
  }
  
  input {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  
  button:hover {
    background-color: #FE0000;
  }
  
  p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
  }

  /* Flashing animation for dice result */
@keyframes flash {
    0% {
      opacity: 1;
      color: #fff;
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
    }
    50% {
      opacity: 0.5;
      color: #ff0000;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
    100% {
      opacity: 1;
      color: #fff;
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
    }
  }
  
  #diceResult {
    font-size: 2rem;
    margin-top: 20px;
    color: white;
    text-align: center;
    animation: flash 1.5s infinite;
  }
  
  /*styling for joke display */
#jokeDisplay {
    font-size: 1rem;
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  /* Add hover effect */
  #jokeDisplay:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  